alembic==1.13.2
asyncpg==0.29.0
email-validator==2.2.0
fastapi==0.114.0
greenlet==3.0.3
pydantic==2.9.1
pydantic_settings==2.4.0
pydantic_core==2.23.3
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
uvicorn==0.30.6